/*////////////////////////////////////////////////////////////
/// Escapausorus v1 (2020)
///	A quick and dirty framework to create small adventure game (certified vanilla JS)
/// Author: Stéphanie Mader (http://smader.interaction-project.net)
/// GitHub: https://github.com/RedNaK/escaposaurus
///	Licence: MIT
///////////////////////////////////////////////////////////*/


/*by default there is no margin or padding anywhere*/
*{ margin: 0px; padding: 0px; }
a{ color:#1022CC;}

body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;

	/*COLORS*/
	--xp-light-blue : #3680f3;
	--xp-dark-blue2 : #2157c4;
	--xp-dark-blue : #2260da;
	--xp-dark-grey : #ece9d8;
	--xp-light-grey : #c0d4f6;
	--xp-yellow : #ffffde;
}

/*on veut la lightbox devant*/
.lightbox-container {
	z-index:302;
}

video{
	max-width: 80vw;
	max-height: 70vh;
}

@font-face {
    font-family: Roboto;
    src: url('img/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: Odibee;
    src: url('img/fonts/Odibee_Sans/OdibeeSans-Regular.ttf') format('truetype');
}

/*size of the countainer defined to fit most used screen resolution*/
/*main div container*/
#main-container{
	/* max-width: 1300px;
	max-height:800px; */
	margin: auto;
	height:100%;
	border:1px solid #1022CC;
	text-align: center;
	position:relative;
	
	background: url(img/background.jpg);
	background-position: center;
	background-color:#1022CC;
	background-repeat: no-repeat;
	background-size: cover;
}

#main-container-index{
	max-width: 1300px;
	max-height:800px;
	margin: auto;
	height:100%;
	border:1px solid #1022CC;
	text-align: center;
	position:relative;
}

#container-homeMission{
	width:800px;
	background-color:transparent;
	margin-top:20px;
	padding-bottom:20px;
}

#div-homeMission{
	background-color:transparent;
	padding:5px;
}

#os-name{
	color:#ffffff;
	font-size:30px;
	font-weight: bold;
	/* padding:5px; */
	background-color:#1022CC;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-game-div{
	width:100%;
}

/*shared style for app*/
.app-title{
	background-color: var(--xp-dark-blue);
	color: white;
	text-align: left;
	margin: 0;
	width: 100%;
	height: fit-content;
	padding: 0;
	padding-left: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-title-span{
	font-size:1em;
	margin-left:.2em;
	text-shadow: black 0px 1px;
}

/*call app*/
#callApp{
	width:80%;
	max-width: 600px;
	height:auto;
	padding:0;
	margin: auto;
	margin-top: 55vh;
	background-color: var(--xp-dark-grey);
	border:.2em solid var(--xp-dark-blue);
	border-radius: .5em .5em 0 0;
	overflow: auto;
	justify-self: center;
}

#callApp-help, #callApp-prompt{
	font-size:18px;
	padding:10px;
	text-align: center;
	background-color:#ccc;
	color:black;
}

.contact-list{
	padding:10px;
	text-align: left;
}

.contact-div{
	font-size:16px;
	text-align: left;
	margin-bottom:5px;
	font-weight: bold;
	color: #ffa500;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contact-div:hover{
	background:#1022CC;
	cursor: pointer;
	color:fff;
}

.contact-avatar{
	width:36px;
	height:36px;
	margin-right:5px;
}

.contact-bell {
	width: 1.2em;
	height: 1.2em;
	margin-left: 10px;
	margin-bottom: 3px;
	filter: invert(61%) sepia(75%) saturate(1542%) hue-rotate(360deg) brightness(103%) contrast(101%);
	animation: 1.5s ease-in .5s infinite reverse both running ring;
}

@keyframes ring{
    0% {
        /* transform: scaleX(0); */
		transform: rotate(00deg);
    }

	15% {
		/* transform: scaleX(1); */
		transform: rotate(-30deg);
	}
    30% {
		transform: rotate(30deg);
    }

	45% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.no-call{
	font-weight: normal;
	font-style: italic;
	color:#aaaaaa;
}

.already-called{
	font-weight: normal;
}

.already-called .contact-bell,
.no-call .contact-bell {
	display: none;
}

/* udisk app*/
#folderApp{
	width:100%;
	max-width: 700px;
	height:70vh;
	margin-top: 5vh;
	overflow: auto;
	padding:0 0 0 0;
	/* margin:50 0 0 150; */
	background-color: var(--xp-dark-grey);
	border:.2em solid var(--xp-dark-blue);
	border-radius: .5em .5em 0 0;
	overflow: hidden;
}

#folderApp-content{
	padding:10px;
	padding-right: 0;
	padding-top: 0;
	text-align: left;
}

#overlay-index{
	position:absolute;
	z-index:310;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	background-color:black;
	color: white;
	text-align: center;
}

/*the "windows" we open for video and message/password*/
#callVideo-window,
#UIvid-window{
	position:absolute;
	z-index:305;
	left:5vw;
	top:10%;
	border:.2em solid var(--xp-dark-blue);
	background-color: var(--xp-dark-grey);
	border-radius: .5em .5em 0 0;
	width:fit-content;
	text-align: center;
}

#wrongPhoneNumber,
#add-contact-window,
#wrongSubject,
#call-subject-window,
#notnowPrompt-window,
#passPrompt-window,
#wrongPassword,
#newContact-window,
#calling-window,
#message-window,
#nocall-window,
#solution-window,
#credit-window{
	position:absolute;
	z-index:300;
	left:45%;
	top:35%;
	border:.2em solid var(--xp-dark-blue);
	background-color:var(--xp-dark-grey);
	width:200px;
	border-radius: .5em .5em 0 0;
}

#solution-window,
#credit-window{
	background-color:var(--xp-dark-grey);
}

#solution-window{
	top:20%;
	width:400px;
}

#credit-window{
	top:20%;
	width:400px;
}

#call-subject-window {
	left: 25%;
	top: 10%;
}

#add-contact-window {
	left: 35%;
	top: 70%;
}

#wrongPhoneNumber button,
#add-contact-window button,
.add-contact-div button,
#wrongSubject button,
#call-subject-window button,
#notnowPrompt-window button,
#passPrompt-window button,
#wrongPassword button,
#newContact-window button,
#UIvid-window button,
#callVideo-window button,
#calling-window button,
#message-window button,
#nocall-window button,
#solution-window button,
#credit-window button,
#overlay-index button{
	/*INTERACTION BUTTON*/
	color:#fff;
	background-color:var(--xp-light-blue);
	border: none;
	padding:3px;
	margin:3px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:14px;
	font-weight:bold;
}

#wrongPhoneNumber button:hover,
#add-contact-window button:hover,
#wrongSubject button:hover,
#call-subject-window button:hover,
#notnowPrompt-window button:hover,
#passPrompt-window button:hover,
#wrongPassword button:hover,
#newContact-window button:hover,
#UIvid-window button:hover,
#callVideo-window button:hover,
#calling-window button:hover,
#message-window button:hover,
#nocall-window button:hover,
#solution-window button:hover,
#credit-window button:hover,
#overlay-index button:hover{
	background-color: #fff;
	color:#000;
	cursor: pointer;
}

.window-btn {
	width: fit-content;
	text-align: center;
	align-self: center;
}

.message-content{
	text-align:center;
	color: black;
	padding:5px;
}

#passwordInput{
	text-align:center;
	color:black;
	margin:5px;
}

#footer{
	height:34px;
	width:100%;
	background-color:var(--xp-dark-blue);
	position: absolute;
	padding-top:3px;
	padding-bottom:3px;
	bottom: 0;
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
}

.footer-button{
	color:var(--xp-light-grey);
	background-color: var(--xp-light-blue);
	border:none;
	border-radius: .3em;
	margin-right:3px;
	padding:5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:.9em;
	font-weight:500;
	box-shadow: #1022CC 2px;
}

.footer-button:hover{
	color:#000;
	background-color: #aaa;
	cursor: pointer;
}

#password{
	font-size:14px;
}

.hidden {
	display: none;
}

/*to stylize placeholder in text input in different browser...*/
::-webkit-input-placeholder { /* Edge */
  color: grey;
  text-align:center;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: grey;
  text-align:center;
}

::placeholder {
  color: grey;
  text-align:center;
}


/*class that deals with the udrive content, tread carefully, it is working ok but very capricious*/
ul{
    margin: 0px 0px 0px 20px; 
    list-style: none; line-height: 2em; font-family: Arial;
}

.arbo, .folder{
    font-size: 16px;
    position: relative;
}

.arbo:before{
    position: absolute;
    left: -15px;
    top: 0px;
    content: '';
    display: block;
    border-left: 1px solid #000;
    height: 1em;
    border-bottom: 1px solid #000;
    width: 10px;
}

.folder-name{
	background: url("img/iconFolder.png") left center no-repeat;
	content: '';
	display:inline-block;
	padding-left:20px;
	height:25px;
	color:black;
}

.folder-name:hover{
	text-decoration: none;
}

.protected-name{
	background: url("img/iconPassword.png") left center no-repeat;
	content: '';
	display:inline-block;
	padding-left:20px;
	height:25px;
}

.protected-name:hover{
	cursor: pointer;
}

.file-name{
	background: url("img/iconFile.png")left center no-repeat;
	content: '';
	display:inline-block;
	padding-left:20px;
	height:25px;
}

.file-name:hover{
	cursor: pointer;
}


.arbo:after{
    position: absolute;
    left: -15px;
    bottom: -7px;
    content: '';
    display: block;
    border-left: 1px solid #000;
    height: 100%;
}
    
.rootLI{
	font-size: 16px;
	margin: 0px 0px 0px -20px;
}

.arbo:last-child:after{ display: none }

/*for the animation of the windows we open and close*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

/*we override part of the lightbox style*/
.lightbox-image{
	max-height:90vh;

}

.lightbox-wrapper {
	background-color: var(--xp-dark-grey);
	border:.2em solid var(--xp-dark-blue);
	border-radius: .6em .6em 0 0;
}

.top-line {
	background-color: var(--xp-dark-blue);
	border-radius: .4em .4em 0 0;
	width: 100%;
	height: fit-content;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

#wrongPhoneNumber .lightbox-btn-close,
#add-contact-window .lightbox-btn-close,
#wrongSubject .lightbox-btn-close,
#call-subject-window .lightbox-btn-close,
#notnowPrompt-window .lightbox-btn-close,
#passPrompt-window .lightbox-btn-close,
#wrongPassword .lightbox-btn-close,
#newContact-window .lightbox-btn-close,
#UIvid-window .lightbox-btn-close,
#callVideo-window .lightbox-btn-close,
#calling-window .lightbox-btn-close,
#message-window .lightbox-btn-close,
#nocall-window .lightbox-btn-close,
#solution-window .lightbox-btn-close,
#credit-window .lightbox-btn-close,
#overlay-index .lightbox-btn-close,
.lightbox-btn-close {
	background-color: red;
	/* border-radius: 0 .5em 0 0; */
	border-radius: .2em;
	border:.2em solid var(--xp-dark-blue2);
	height: 2em;
	position: relative;
	top: 0;
	right: 0;
	transition: none;
}

#wrongPhoneNumber .lightbox-btn-close-deactivated,
#add-contact-window .lightbox-btn-close-deactivated,
#wrongSubject .lightbox-btn-close-deactivated,
#call-subject-window .lightbox-btn-close-deactivated,
#notnowPrompt-window .lightbox-btn-close-deactivated,
#passPrompt-window .lightbox-btn-close-deactivated,
#wrongPassword .lightbox-btn-close-deactivated,
#newContact-window .lightbox-btn-close-deactivated,
#UIvid-window .lightbox-btn-close-deactivated,
#callVideo-window .lightbox-btn-close-deactivated,
#calling-window .lightbox-btn-close-deactivated,
#message-window .lightbox-btn-close-deactivated,
#nocall-window .lightbox-btn-close-deactivated,
#solution-window .lightbox-btn-close-deactivated,
#credit-window .lightbox-btn-close-deactivated,
#overlay-index .lightbox-btn-close-deactivated,
.lightbox-btn-close-deactivated {
	background-color: lightsalmon; 
	border:.2em solid var(--xp-dark-blue2);
	cursor:default;
}

#wrongPhoneNumber .lightbox-btn-close-deactivated:hover,
#add-contact-window .lightbox-btn-close-deactivated:hover,
#wrongSubject .lightbox-btn-close-deactivated:hover,
#call-subject-window .lightbox-btn-close-deactivated:hover,
#notnowPrompt-window .lightbox-btn-close-deactivated:hover,
#passPrompt-window .lightbox-btn-close-deactivated:hover,
#wrongPassword .lightbox-btn-close-deactivated:hover,
#newContact-window .lightbox-btn-close-deactivated:hover,
#UIvid-window .lightbox-btn-close-deactivated:hover,
#callVideo-window .lightbox-btn-close-deactivated:hover,
#calling-window .lightbox-btn-close-deactivated:hover,
#message-window .lightbox-btn-close-deactivated:hover,
#nocall-window .lightbox-btn-close-deactivated:hover,
#solution-window .lightbox-btn-close-deactivated:hover,
#credit-window .lightbox-btn-close-deactivated:hover,
#overlay-index .lightbox-btn-close-deactivated:hover,
.lightbox-btn-close-deactivated:hover {
	background-color: lightsalmon; 
	border:.2em solid var(--xp-dark-blue2);
	cursor:default;
}

/*ADDED COMPLETELY*/
.add-contact-div {
	padding: 10px 0;
}

#date_heure {
	color: white;
	align-self: center;
	margin-right: 10px;
	text-shadow: black 0px 1px;
}

#notification-popup {
	position: absolute;
	z-index: 300;
	display: flex;
	width: 25vw;
	right: 1vh;
	bottom: 5vh;
	border:.1em solid grey;
	border-radius: .5em;
	height: fit-content;
	background-color: var(--xp-yellow);
	padding: 5px;
	transition: .3s;
}

#notification-popup  .lightbox-btn-close
{
	width: 2em;
	scale: .7;
	filter: invert(43%) sepia(3%) saturate(18%) hue-rotate(350deg) brightness(93%) contrast(80%);
	background-color: rgba(255, 255, 255, 0.338); 
	border:.1em solid grey;
	border-radius: 3px;
	cursor:default;
}

.div-row {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.div-column {
	display: flex;
	flex-direction: column;
}

hr {
	margin: 0 10px;
	border-top: 2px solid rgba(170, 170, 170, 0.601);
}

